.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
}

.home-page img {
    opacity: 0.2;
}

.home-page-welcome {
    display: flex;
    font-size: 2em;
    align-items: center;
    gap: 1em;
}