.toy-filter {
    background-color: var(--clr2bg);
    padding: 1em;
    margin: 1em 0;
}

/* .filter-form {
    gap: 1em;
} */

.toy-filter .filter-form {
    flex-wrap: wrap;
    gap: 0.5em;
}

.toy-sort {
    margin-top: 1em;
}