.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200%;
    place-self: center;
    .out-stock{
        color: brown;
    }
}

.toy-preview h4 {
    text-transform: capitalize;
    color: black;
}

.toy-preview img {
    max-width: 100px;
}